<div class="jumbotron text-center">
  <h1>Eat-Da-Burger!</h1>
  <hr>
  To help keep track of Burgers that you want to, and have eaten!
</div>
<div class="container m-auto">
  <div class="row my-auto">
    <div class="card text-center" style="width:18em;">
      <div class="card-header">
        <h2>Add a Burger</h2>
      </div>
      <div class="card-body">
        <form class="create-form">
          <div class="form-group">
            <label for="ba">Burger Name:</label>
            <input type="text" id="ba" name="name">
          </div>
          <button type="submit">Add Burger</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Available Burgers</h2>
      {{#each burger}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-6">
      <h2>Devoured Burgers!</h2>
      {{#each burger}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>